{% extends 'base/base.html' %}
{% load socialaccount %}
{% load static %}
{% block title %}Login/Register Page{% endblock title %}
{% block content %}
<link rel="stylesheet" href="{% static 'base/css/main.css' %}">
<link rel="stylesheet" href="{% static 'base/css/bootstrap.css' %}">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
        {% if page == 'login' %}
        <div class="container custom-container m-0 p-0">
          <div class="row justify-content-center mt-5">
            <div class="col-md-6">
              <h2 class="text-center mb-4">Login</h2>
              <hr>  
              <div class="google-login mt-1 mb-1 text-center">
                  <a href="{% provider_login_url 'google' %}" class='btn btn-dark'>
                    <img src='{% static 'base/images/google.jpg' %}' alt="" class="google-logo" width='33px' height='20px'>
                  <span>Login with Google</span>
                  </a>
              </div>
                <hr>
                <div class="google-login mt-1 mb-1 text-center w-100">
                    <a href="{% provider_login_url 'github' %}" class='btn btn-dark'>
                      <img src='{% static 'base/images/github.png' %}' alt="" class="google-logo" width='33px' height='20px'>
                    <span>Login with Github</span>
                    </a>
                </div>
              <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="username" class="form-label">Username:</label>
                  <input type="text" name="username" class="form-control" value="user" placeholder="Enter Username">
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password:</label>
                  <input type="password" name="password" class="form-control" value="pass" placeholder="Enter Password">
                </div>
                <button type="submit" class="btn btn-primary text-center">Login</button>
                {% for message in messages %}
                  <div class="mt-2">{{ message }}</div>
                {% endfor %}
              </form>
              <p class="mt-3 text-center">Haven't signed up yet? <a href="{% url 'register' %}" class="btn btn-secondary">Sign Up now</a></p>
            </div>
          </div>
        </div>

        {% else %}

            <div class="container custom-container justify-content-center">
                <h2 class="text-center">Sign Up</h2>
                <hr>
                <div class="row justify-content-center">
                  <div class="col-md-12">
                    <div class="google-login mt-1 mb-1 text-center">
                        <a href="{% provider_login_url 'google' %}" class='btn btn-dark'>
                          <img src='{% static 'base/images/google.jpg' %}' alt="" class="google-logo" width='33px' height='20px'>
                        <span>Signup with Google</span>
                        </a>
                    </div>
                      <hr>
                      <div class="google-login mt-1 mb-1 text-center">
                          <a href="{% provider_login_url 'github' %}" class='btn btn-dark'>
                            <img src='{% static 'base/images/github.png' %}' alt="" class="google-logo" width='33px' height='20px'>
                          <span>Signup with Github</span>
                          </a>
                      </div>
                    <strong class='text-center alert'>OR</strong>
                    {% for message in messages %}
                      <span class='{{ message.tags }}'>{{ message }}</span>
                    {% endfor %}
                    {% if form.errors %}
                      {% for field in form %}
                        {% for error in field.errors %}
                          <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                      {% endfor %}
                    {% endif %}
                    <form action="{% url 'register' %}" method="POST" novalidate>
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" id="firstName" name="firstName" class="form-control" value='{{form.firstName.value|default:''}}' required>
                      </div>
                      <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" id="lastName" name="lastName" class="form-control" value='{{form.lastName.value|default:''}}' required>
                      </div>
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" value='{{form.email.value|default:''}}' required>
                      </div>
                      <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control" value='{{form.password.value|default:''}}' required>
                      </div>
                      <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" class="form-control" value='{{form.username.value|default:''}}' required>
                      </div>
                      <button class='submit btn btn-primary btn-block' type="submit">Sign Up</button>
                    </form>
                  </div>
                </div>
                <div class="text-center mt-3">
                  <strong>Already have an Account:</strong> <a class='btn btn-info' href="{% url 'loginhandler' %}">Login now</a>
                </div>
              </div>
        {% endif %}
{% endblock content %}
