{% extends 'base/base.html' %}
{% block title %}Update Room{% endblock title %}
{% block content %}
<div class="container mt-5 border">
    <h2 class='alert alert-secondary m-0 p-0 text-center'>UPDATE STUDY ROOM</h2>
    <hr>
    <form action="{% url 'updateroom' room.id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="topics">Room:</label>
            <input type="text" name="topic" list="topic-list" class="form-control" required>
            <datalist id="topic-list">
                <select id="room_topic">
                {% for topic in topics %}
                    <option value="{{ topic.name }}">{{ topic.name }}</option>
                {% endfor %}
                </select>
            </datalist>  
      </div>
        <div class="form-group">
            <label for="name">Room Name:</label>
            <input type="text" name="name" class="form-control" value="{{ room.name }}" required>
        </div>
        <div class="form-group">
            <label for="description">Room Description (optional):</label>
            <textarea id="description" name="description" rows="4" cols="50" class="form-control">{{ room.description }}</textarea>
        </div>
        <div class="row justify-content-end">
            <div class="col-md-3">
                <a href="{% url 'home' %}" class="btn btn-secondary">Go back</a>
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}



{% comment %} <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="invalid-feedback d-block">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div> {% endcomment %}

