{% extends 'base/base.html' %}
{% block title %}Room{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <a href="{% url 'home' %}" class="btn btn-danger mb-3">Back</a>
            <div class="row">
                <div class="col-sm-9">
                    <h1><u>{{ room.name }}</u></h1>
                </div>
                {% if request.user == room_user or request.user.is_superuser %}
                <div class="col-sm-3">
                    <span>Edit Room info : <a href="{% url 'updateroom' room.id %}" class="btn btn-warning">Edit</a></span>
                </div>
                {% endif %}
            </div>
            <p><b>Hosted By:</b> <a href="{% url 'profile' room.host.id %}">{{ room.host }}</a></p>
            <hr>    
            <h5>{{ room.description }}</h5>
            <hr>
            <div class="card mb-4">
                <div class="card-body bg-dark">
                    <h3 class="card-title">Conversation</h3>
                    <hr>
                    {% for message in room_messages %}
    <div class="mb-3">
        <small class="text-black">@{{ message.user }}, {{ message.created | timesince }}</small>
        {% if request.user == message.user %}
            <a href="{% url 'message-delete' message.id %}" class="btn btn-danger mx-2 btn-sm">Delete message</a>
        {% endif %}
        <h4>
            {% for word in message.body.split %}
                {% if '@' in word %}
                    <span class="text-primary">{{ word }}</span>
                {% else %}
                    {{ word }}
                {% endif %}
                
            {% endfor %}
        </h4>
    </div>
    <hr>
{% endfor %}

                    {% if request.user.is_authenticated %}
                        <div class="comment-form">
                            <form action="" method="post">
                                {% csrf_token %}
                                <input type="text" name="message" placeholder="Write your message here..." class="form-control mb-3">
                            </form>
                        </div>
                    {% else %}
                        <div>
                            <p>Want to comment <a href="{% url 'loginhandler' %}" class="btn btn-primary btn-sm">Login</a> first.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-secondary">
                <div class="card-body">
                    <h3 class="card-title">Participants: {{ count }}</h3>
                    {% for participant in participants %}
                        <div>
                            <p>{{ participant.username }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
